.main-background {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #eeb266;
  background: url("../images/peach.png") #404f73 no-repeat;
  background-size: contain;
  background-position-y: 11rem;
}
