.main-body {
  min-height: 80vh;
  flex: 0 0 100%;
  background-color: #404f73;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 40px;
}

.main-body-title {
  text-align: center;
}

.peach {
  background-color: #eeb266;
  background: url("../images/peach.svg") no-repeat center center;
  height: 300px;
  width: 100%;
  align-self: center;
}
