header {
  background-color: #394a66;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    li {
      list-style-type: none;
      :hover {
        color: #79c5e4;
      }
      transition: ease;
      -webkit-transition: ease;
      -moz-transition: ease;
      -ms-transition: ease;
      -o-transition: ease;
      a {
        color: #e2e0dd;
        font-size: 2rem;
        text-decoration: none;
      }
      img {
        border-radius: 50%;
        transition: ease;
        -webkit-transition: ease;
        -moz-transition: ease;
        -ms-transition: ease;
        -o-transition: ease;
      }
    }
  }
  @media screen and (max-width: 768px) {
    ul {
      li a {
        font-size: 1rem;
      }
    }
  }
}
