header {
  background-color: var(--dark-blue);
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    li {
      list-style-type: none;
      :hover {
        color: var(--light-blue);
      }
      transition: 500ms ease;
      -webkit-transition: ease;
      -moz-transition: ease;
      -ms-transition: ease;
      -o-transition: ease;
      a {
        color: var(--off-white);
        font-size: 2rem;
        text-decoration: none;
      }
      img {
        border-radius: 50%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    ul {
      li a {
        font-size: 1rem;
      }
    }
  }
}
