header {
  background-color: #2f4858;
  padding: 20px;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .hamburger {
    display: none;
  }
  ul {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .gi-1 {
      position: relative;
      .pic-of-me {
        position: absolute;
        top: 75px;
        left: 60px;
      }
    }
    li {
      list-style-type: none;
      a {
        color: #f8f1f1;
        font-size: 2rem;
        text-decoration: none;
      }
      img {
        border-radius: 50%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    ul {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      li a {
        font-size: 1rem;
      }
      .gi-1 {
        display: none;
      }
    }
  }
}
