.main-body {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 40px;
}

.main-body-title {
  text-align: center;
}

.peach {
  background-color: #eeb266;
  background: url("../images/peach.svg") no-repeat center center;
  height: 300px;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-of-me {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  top: 25px;
  border: 3px solid #404f73;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.65rem 0;
}

.essentials {
  background: url("../images/essential.png") no-repeat center center;
  background-size: contain;
  height: 375px;
  width: 860px;
}
